@charset "utf-8";

/*
Lee Chuor
CIS162 Project 2-2
11-26-28
*/

/*Body*/

body {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 960px;
    max-height: 640px;
    background-color: azure;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:    "header header"
                            "nav div"
                            "nav footer";
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

/*Header*/
body > header {
    grid-row: 1;
    grid-column: 1/-1;
}

body > nav {grid-area: nav;}
body > div.right {grid-area: div;}
body > footer {grid-area: footer;}

/*Navigation*/
nav > ul {
    list-style-type: none;
}

/*Footer*/
body > footer {
    text-align: right;
}